<div class="page-header">
    <h3>Lista conti</h3>
</div>


<table class="table table-hover">
    <thead>
        <tr>
            <th>Codice Conto</th>
            <th>Tipologia Conto</th>
            <th>Deposito</th>
            <th>Elimina</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of conti">
            <td>{{c.codConto}}</td>
            <td>{{c.tipoConto}}</td>
            <td>{{c.saldo}}</td>
            <td><button class="btn btn-danger btn-sm" (click)="deleteConto(c)">Delete</button></td>
        </tr>
    </tbody>
</table>
