
<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://thymeleaf.org/extras/spring-security">
	
	<div class="container">
	<div class="row justify-content-around">
	
	<nav class="col-md-3">
		<h3>Navigazione</h3>
		<ul class="nav flex-column" sec:authorize="!hasRole('ADMIN')">
			<li class="nav nav-item mt-1"><a href="/user">Sezione utenti</a>
			<li class="nav nav-item mt-1"><a href="/user/conti">Elenco conti</a>
			<li class="nav nav-item mt-1"><a href="/user/nuovoConto">Crea nuovo conto</a>
			<li class="nav nav-item mt-1"><a id="logoutButtonFooter" style="cursor: pointer; " onclick="logOutFooter()">Sezione admin</a>
		</ul>
		<ul class="nav flex-column"  sec:authorize="hasRole('ADMIN')">
			<li class="nav nav-item mt-1"><a href="/admin">Sezione Admin</a>
			<li class="nav nav-item mt-1"><a href="/admin">Elenco conti</a>
			<li class="nav nav-item mt-1"><a href="/admin">Elenco utenti</a>
		</ul>
	</nav>

	<nav class="col-md-3">
		<h3>Roba</h3>
		<ul class="nav flex-column" >
			<li class="nav nav-item mt-1"><a href="#">Roba 1</a>
			<li class="nav nav-item mt-1"><a href="#">Roba 2</a>
			<li class="nav nav-item mt-1"><a href="#">Roba 3</a>
			<li class="nav nav-item mt-1"><a href="#">Site Map</a>
		</ul>
	</nav>

	<section class="col-md-3">
		<h3>Network</h3>
		<ul class="nav flex-column" >
			<li class="nav nav-item mt-1"><a href="#">Facebook</a>
			<li class="nav nav-item mt-1"><a href="#">Instagram</a>
			<li class="nav nav-item mt-1"><a href="#">X</a>
			<li class="nav nav-item mt-1"><a href="#">Linkedin</a>
		</ul>
	</section>
	</div>
	</div>
<script>
function logOutFooter() {
    const logoutButton = document.getElementById('logoutButton');

    Swal.fire({
        title: 'Sei sicuro?',
        text: "Se effettui il logout tutte le modifiche che non hai salvato verranno perse",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Sì, esci',
        cancelButtonText: 'Annulla'
    }).then((result) => {
        if (result.isConfirmed) {
            window.location.href ="/user/user-logout";
        }
    });
}
</script>
</div>
