<header th:fragment="navbar" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Applicazione Bancaria</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                   		<button class="nav-link active" id="logoutButtonHome" 
				            th:data-logout-url="${#authentication.name eq 'admin' ? '/admin/admin-logout' : '/user/user-logout'}" 
				            onclick="confirmLogoutHome()">
				       		Home
				       	 </button>
                    </li>
                   	 <li class="nav-item" sec:authorize="!isAuthenticated()">
			          <a class="nav-link active" aria-current="page" href="/">Home</a>
			        </li>
                    <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-item"><a href="/admin">Sezione Admin</a></li>
                            <li class="dropdown-item"><a href="/admin/contizero">Elenco conti con saldo zero</a></li>
                            <li class="dropdown-item"><a href="/admin/statistiche"> Statistiche</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="!hasRole('ADMIN')">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">User</a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-item"><a href="/user">Sezione utenti</a></li>
                            <li class="dropdown-item"><a href="/user/conti">Elenco conti</a></li>
                            <li class="dropdown-item"><a href="/user/prestiti">Elenco prestiti</a></li>
                            <li class="dropdown-item"><a href="/user/richiestePrestiti">Elenco richieste prestiti</a></li>
                            <li class="dropdown-item"><a href="/user/nuovoConto">Crea nuovo conto</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="d-flex" sec:authorize="isAuthenticated()">
                	<!-- Sezione per mostrare l'utente loggato -->
				    <div class="d-flex align-items-center me-3" sec:authorize="hasRole('USER')">
				        <i class="fas fa-user-circle text-light me-2"></i>
				        <span class="text-light fw-bold">
				            <span th:text="${user.getNomeCliente} + ' ' + ${user.getCognomeCliente}"></span>
				        </span>
				    </div>
				    
				    <!-- Sezione per mostrare amministratore loggato -->
				    <div class="d-flex align-items-center me-3" sec:authorize="hasRole('ADMIN')">
				        <i class="fas fa-user-circle text-light me-2"></i>
				        <span class="text-light fw-bold">
				            <span th:text="${admin.getNomeAdmin} + ' ' + ${admin.getCognomeAdmin}"></span>
				        </span>
				    </div>
                	
                	
                	<button class="btn btn-outline-light" id="logoutButton" 
				            th:data-logout-url="${#authentication.name eq 'admin' ? '/admin/admin-logout' : '/user/user-logout'}" 
				            onclick="confirmLogout()">
				        <i class="fas fa-sign-out-alt"></i> Logout
				    </button>
				    
                </div>
            </div>
        </div>
    </nav>
    <script>
    function confirmLogout() {
        const logoutButton = document.getElementById('logoutButton');
        const logoutUrl = logoutButton.getAttribute('data-logout-url');

        Swal.fire({
            title: 'Sei sicuro?',
            text: "Se effettui il logout tutte le modifiche che non hai salvato verranno perse",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sì, esci',
            cancelButtonText: 'Annulla'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = logoutUrl;
            }
        });
    }
    function confirmLogoutHome() {
        const logoutButton = document.getElementById('logoutButtonHome');
        const logoutUrl = logoutButton.getAttribute('data-logout-url');

        Swal.fire({
            title: 'Sei sicuro?',
            text: "Per tornare alla home verrà eseguito il logout dell'utente",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sì, esci',
            cancelButtonText: 'Annulla'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = logoutUrl;
            }
        });
    }
</script>
</header>
