<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/cdn :: cdn('error403')}"></head>
<body>

	<div th:insert="~{fragments/nav :: navbar}"></div>

	<div class="container">

		<div style="margin-top: 20px;">
			<h1>Errore 403</h1>
			<p>Non hai l'autorizzazione per accedere alla risorsa richiesta</p>
		</div>
		
		<header class="page.header">
			<h3 class="page-header">Logout</h3>
		</header>

		<div class="panel panel-default">
			<div class="panel-heading">Effettuare il Logout dalla
				sessione?</div>
			<div class="panel-body">
				<div class="btn btn-group justify-content-between" role="group"
					style="margin-top: 30px; margin-bottom: 30px;">
					<button class="btn btn-default" style="width: 200px;"
						onclick="document.location.href='acquisti'">Torna agli
						acquisti</button>

					<button class="btn btn-danger" style="width: 200px;"
						onclick="document.location.href='/logoutUtente'">
						Esegui Logout
					</button>
				</div>
			</div>
		</div>
	</div>

	<footer th:insert="~{fragments/footer :: footer}"></footer>
</body>
</html>


