<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/cdn :: cdn('conti page')}"></head>
<body>
	<div th:insert="~{fragments/nav :: navbar}"></div>

<div class="container py-5">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h4>Informazioni Utente</h4>
            </div>
            <div class="card-body">
                 <div class="row mb-3" th:insert="~{fragments/user-data :: user-data}"></div>
                <hr>
                <div>
                	<div><h3>Richieste prestiti</h3></div>
                	<table class="table table-striped" id="tabella">
                		<thead>
                			<tr>
                				<td>Codice</td>
                				<td>Importo</td>
                				<td>Data</td>
                				<td>Stato</td>
                			</tr>
                		</thead>
                		<tbody>
                			<tr th:each="richiesta : ${user_richieste}">
                				<td th:text="${richiesta.codRichiesta}"></td>
                				<!-- 
                				<td th:text="${richiesta.importo}"></td>
                				 <td th:text="|${#numbers.formatCurrency(richiesta.importo)}|"></td>
                				 -->
                				<td th:text="|${#numbers.formatDecimal(richiesta.importo, 1, 'COMMA', 2, 'POINT')} €|"></td>
                				<td th:text="${#dates.format(richiesta.dataRichiesta, 'yyyy-MM-dd HH:mm:ss')}"></td>
                				<td th:text="${richiesta.stato}"></td>
                			</tr>
                			
                		</tbody>
                	</table>
                	<div class="row justify-content-center">
						<div class="col-md-2">
							<a class="btn btn-primary w-100" role="button" href="/user">Sezione
							Utenti</a>
						</div>
                		<div class="col-md-2">
                			<a class="btn btn-primary mb-4" role="button" href="/user/richiediPrestito">Effettua una richiesta</a>
                		</div>
					</div>
                </div>
            </div>
        </div>
    </div>
	<footer th:insert="~{fragments/footer :: footer}"></footer>
	<script>
    $(document).ready(function() {
        $('#tabella').DataTable();
    });
	</script>
</body>
</html>