<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/cdn :: cdn('conti page')}"></head>
<body>
	<div th:insert="~{fragments/nav :: navbar}"></div>

<div class="container py-5">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h4>Informazioni Utente</h4>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <p><strong>Nome:</strong> <span th:text="${user.nomeCliente}"></span></p>
                        <p><strong>Cognome:</strong> <span th:text="${user.cognomeCliente}"></span></p>
                        <p><strong>Email:</strong> <span th:text="${user.emailCliente}"></span></p>
                    </div>
                    <div class="col-md-6">
                        <p><strong>Saldo Conto:</strong> &euro;<span th:text="${user.saldoConto}"></span></p>
                        <p><strong>Tentativi Errati:</strong> <span th:text="${user.tentativiErrati}"></span></p>
                        <p><strong>Account Bloccato:</strong> <span th:text="${user.accountBloccato ? 'Sì' : 'No'}"></span></p>
                    </div>
                </div>
                <hr>
                <div>
                	<div><h3>Movimenti sul conto</h3></div>
                	<table>
                		<thead>
                			<tr>
                				<td>Codice</td>
                				<td>Importo</td>
                				<td>Data</td>
                				<td>Tipo</td>
                			</tr>
                		</thead>
                		<tbody>
                			<tr th:each="movimento : ${user_movimenti}">
                				<td th:text="${movimento.codMovimento}"></td>
                				<td th:text="${#numbers.formatCurrency(movimento.importo)}"></td>
                				<td th:text="${#dates.format(movimento.dataMovimento, 'yyyy-MM-dd HH:mm:ss')}"></td>
                				<td th:text="${movimento.tipoMovimento}"></td>
                			</tr>
                			<tr>
                				<th>
                				<a class="btn btn-primary btn-lg w-100" role="button" href="/user/conti">Vai ai conti</a>
                				</th>
                			</tr>
                		</tbody>
                	</table>
                </div>
            </div>
        </div>
    </div>
	<footer th:insert="~{fragments/footer :: footer}"></footer>
</body>
</html>