<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/cdn :: cdn('conti page')}"></head>
<body>
	<div th:insert="~{fragments/nav :: navbar}"></div>

<div class="container py-5">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h4>Conti</h4>
            </div>
            <div class="card-body">
                <div class="row mb-3" th:insert="~{fragments/user-data :: user-data}"></div>
                <hr>
                <div>
                
                <div class="alert alert-danger my-2" th:if="${error != null}">
                	<p style="color: red" th:text="${error}"></p>
                </div>
                	<div><h3>Conti</h3></div>
                	<table class="table table-striped" id="tabellaConti">
                		<thead>
                			<tr>
                				<th>Codice Conto</th>
                				<th>Tipo Conto</th>
                				<th>Saldo</th>
                				<th>Transazioni</th>
                				<th>Movimenti</th>
                				<th>Prelievo</th>
                				<th>Deposito</th>
                				<th>Trasferimento</th>
                			</tr>
                		</thead>
                		<tbody>
                			<tr th:each="conto : ${user_conti}">
                				<td th:text="${conto.codConto}"></td>
                				<td th:text="${conto.tipoConto}"></td>
                				<td th:text="|${#numbers.formatDecimal(conto.saldo, 1, 'WHITESPACE', 2, 'COMMA')} €|"></td>
                				<td>
                					<a th:href="@{'transazioniConto/'+${conto.codConto}}" class="btn btn-sm btn-primary">Vedi transazioni</a>
                				</td>
                				<td>
                					<a th:href="@{'movimentiConto/'+${conto.codConto}}" class="btn btn-sm btn-primary">Vedi movimenti</a>
                				</td>
                				<td>
                					<a th:href="@{'preleva/'+${conto.codConto}}" class="btn btn-sm btn-primary">preleva</a>
                				</td>
                				<td>
                					<a th:href="@{'deposita/'+${conto.codConto}}" class="btn btn-sm btn-primary">deposita</a>
                				</td>
                				<td>
                					<a th:href="@{'contitarget/'+${conto.codConto}}" class="btn btn-sm btn-primary">trasferimento</a>
                				</td>
                			</tr>
                		</tbody>
                	</table>
                	<div class="row justify-content-center">
                	<div class="col-md-2">
	                	<a class="btn btn-primary w-100" role="button" href="/user">Sezione Utenti</a>
                	</div>
                	<div class="col-md-2">
                		<a class="btn btn-primary w-100" role="button" href="/user/nuovoConto">Nuovo Conto</a>
                	</div>
                	</div>
                </div>
            </div>
        </div>
    </div>
	<footer th:insert="~{fragments/footer :: footer}"></footer>
	<script>
    $(document).ready(function() {
        $('#tabellaConti').DataTable({
        	columnDefs: [
                { orderable: false, targets: [3, 4, 5, 6, 7] }
            ]
        });
    });
	</script>
</body>
</html>