<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/cdn :: cdn('prestiti')}"></head>
<body>
	<div th:insert="~{fragments/nav :: navbar}"></div>

<div class="container py-5">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h4>Prestiti</h4>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <p><strong>Nome:</strong> <span th:text="${user.nomeCliente}"></span></p>
                        <p><strong>Cognome:</strong> <span th:text="${user.cognomeCliente}"></span></p>
                        <p><strong>Email:</strong> <span th:text="${user.emailCliente}"></span></p>
                    </div>
                    <div class="col-md-6">
                        <p><strong>Saldo Conto:</strong> &euro;<span th:text="${user.saldoConto}"></span></p>
                    </div>
                </div>
                <hr>
                <div>
                	<table class="table table-striped" id="tabella">
                		<thead>
                			<tr>
                				<th>Codice Prestito</th>
                				<th>Importo</th>
                				<th>Tassa Interesse</th>
                				<th>Durata</th>
                			</tr>
                		</thead>
                		<tbody>
                			<tr th:each="prestito : ${user_prestiti}">
                				<td th:text="${prestito.codPrestito}"></td>
                				<td th:text="|${#numbers.formatDecimal(prestito.importo, 1, 'WHITESPACE', 2, 'COMMA')} €|"></td>
                				<td th:text="${prestito.tassoInteresse}"></td>
                				<td th:text="${prestito.durataMesi}"></td>
                			</tr>
                		</tbody>
                	</table>
                </div>
            </div>
        </div>
    </div>
	<footer th:insert="~{fragments/footer :: footer}"></footer>
	<script>
    $(document).ready(function() {
        $('#tabella').DataTable();
    });
	</script>
</body>
</html>