<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/cdn :: cdn('Home page')}"></head>
<body>
	<div th:insert="~{fragments/nav :: navbar}"></div>

	<div class="container py-5">
		<div class="card shadow-sm">
			<div class="card-header bg-primary text-white">
				<h4>Prelievo</h4>
			</div>
			<div class="card-body">
				<div class="row mb-3" th:insert="~{fragments/user-data :: user-data}"></div>
				<div class="row mb-3">
					<div class="col-md-6">
						<p>
							<strong>Saldo Conto:</strong> &euro;<span
								th:text="${user.saldoConto}"></span>
						</p>
						<p>
							<strong>Tentativi Errati:</strong> <span
								th:text="${user.tentativiErrati}"></span>
						</p>
						<p>
							<strong>Account Bloccato:</strong> <span
								th:text="${user.accountBloccato ? 'Sì' : 'No'}"></span>
						</p>
					</div>
					<hr>
					<div class="alert alert-danger"
						th:if="${message == 'errore-durante_il_prelievo'}">
						<p style="color: red">Errore durante il prelievo</p>
					</div>
					<div class="alert alert-danger"
						th:if="${message == 'importo_troppo_alto'}" role="alert">
						<span> <i class="fas fa-exclamation-circle"></i> Il
							prelievo supera il saldo del conto
						</span>
					</div>
					<div class="alert alert-danger"
						th:if="${message == 'importo_negativo'}" role="alert">
						<span> <i class="fas fa-exclamation-circle"></i> inserire
							un importo positivo
						</span>
					</div>
					<div class="col-md-4  text-center mb-2">
						<p>
							<strong>Preleva dal Conto:</strong> <span
								th:text="${user_conto.codConto}"></span>
						</p>
					</div>
					<div class="col-md-4  text-center mb-2">
						<p>
							<strong>Saldo:</strong> <span th:text="|${#numbers.formatDecimal(user_conto.saldo, 1, 'WHITESPACE', 2, 'COMMA')} €|"></span>
						</p>
					</div>
				</div>
				<form th:action="@{/user/preleva}" th:object="${transazione}"
					method="post" class="form-horizontal">
					<div class="form-group row">
						<input type="hidden" th:field="*{conto}">
						<div class="col-md-4 text-center">
							<label for="importo" class="control-label:">Importo:</label>
						</div>
						<div class="col-md-4">
							<div class="input-group">
								<input type="number" step="0.01" name="importo" id="importo"
									th:field="*{importo}" placeholder="importo.."
									class="form-control" required>
							</div>
						</div>
						<div class="col-md-4">
							<button type="submit" class="btn btn-primary">
								preleva <i class="fas fa-minus"></i>
							</button>
						</div>
					</div>
				</form>
				<div class="row justify-content-center mt-3">
					<div class="col-md-2">
	                	<a class="btn btn-primary w-100" role="button" href="/user/conti">Torna ai conti</a>
                	</div>	
                </div>
			</div>
		</div>
	</div>
	<footer th:insert="~{fragments/footer :: footer}"></footer>
</body>
</html>