<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/cdn :: cdn('conti page')}"></head>
<body>
	<div th:insert="~{fragments/nav :: navbar}"></div>

<div class="container py-5">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h4>Carte</h4>
            </div>
            <div class="card-body">
                <div class="row mb-3" th:insert="~{fragments/user-data :: user-data}"></div>
                <hr>
                <div>
                	<table class="table table-striped" id="tabella">
                		<thead>
                			<tr>
                				<th>Codice Carta</th>
                				<th>Numero Carta</th>
                				<th>CVV</th>
                				<th>Data Scadenza</th>
                				<th>Elimina Carta</th>
                			</tr>
                		</thead>
                		<tbody>
                			<tr th:each="carta : ${user_carte}">
                				<td th:text="${carta.codCarta}"></td>
                				<td th:text="${carta.numeroCarta}"></td>
                				<td th:text="${carta.cvv}"></td>
                				<td th:text="${#dates.format(carta.dataScadenza, 'dd/MM/yyyy')}"></td>
                				<td>
                					<a class="btn btn-danger" th:href="@{'eliminaCarta/'+${carta.codCarta}}">elimina</a>
                				</td>
                			</tr>
                		</tbody>
                	</table>
                	<div class="row justify-content-center">
					<div class="col-md-2">
	                	<a class="btn btn-primary w-100" role="button" href="/user">Sezione Utenti</a>
                	</div>	
                	<div class="col-md-2">
                		<a class="btn btn-primary w-100" role="button" href="/user/nuovaCarta">Crea nuova Carta</a>
                	</div>
                	</div>
                </div>
            </div>
        </div>
    </div>
	<footer th:insert="~{fragments/footer :: footer}"></footer>
	<script>
    $(document).ready(function() {
        $('#tabella').DataTable({
        	columnDefs: [
                { orderable: false, targets: 4 }
            ]
        });
    });
	</script>
</body>
</html>