<div class="row my-2">
    <div class="card">
        <div class="card-header" style="background-color: white;">

            <strong>Lista clienti</strong> 
        </div>
        <div class="card-body">
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 200px;">Nome</th>
                <th style="width: 200px;">Cognome</th>
                <th style="width: 200px;">Email</th>
                <th style="width: 200px;">Tentativi Errati</th>
                <th style="width: 200px;">Bloccato</th>
                <th style="width: 200px;">Saldo Conto</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = 'let c of clienti'>
                <td>{{c.nomeCliente}}</td>
                <td>{{c.cognomeCliente}}</td>
                <td>{{c.emailCliente}}</td>
                <td>{{c.tentativiErrati}}</td>
                <td>{{c.accountBloccato}}</td>
                <td>{{c.saldoConto | currency:'EUR'}}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</div>